body
{
    margin: 0;
    font-family: Arial, sans-serif; /* 기본 폰트 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}

.F-ID-container
{
    display: flex;
    width: 100%;
    max-width: 600px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

.F-ID-left-panel
{
    width: 35%;
    padding: 30px;
    background-color: #E9ECEF;
}

.F-ID-logo-placehorder
{
    width: 160px;
    height: 160px;
    background-color: #E9ECEF;
    position: relative;
    top: 20px;
}

.F-ID-logo-img
{
    width: 10px;
    height: auto;
}

.F-ID-right-panel
{
    width: 65%;
    padding: 35px;
    background-color: #E9ECEF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.F-ID-find-form
{
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    background-color: transparent;
    font-size: 16px;
}

.input-field-name
{
    width: 70%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    font-size: 16px;
}

.input-field-email
{
    width: 70%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    font-size: 16px;
}

.F-ID-Find-button
{
    /*레이아웃*/
    width: 45%;
    margin-top: 15px;
    margin-left: 100px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    /*스타일*/
    background-color: #868E96;
    color: white;
    font-size: 17px;
}

.F-ID-Find-button:hover
{
    background-color: #D1DFE8;
    transition: background-color 0.5s ease; /*버튼 호버 애니메이션*/
}

.F-ID-Show-id
{
    /*레이아웃*/
    position: fixed; /* 화면에 위치 고정 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*정중앙 정렬*/
    border-radius: 10px;
    z-index: 1000; /* 다른 요소 위에 표시되도록 설정 */


    /*스타일*/
    background-color: #E9ECEF;
    padding: 15px 30px;
    color: black;
    font-size: 18px;
    text-align: center;
    opacity: 0; /* 기본적으로 투명 (애니메이션 시작용) */
}

.F-ID-Show-id.show
{
    opacity: 1; /* 공개 (애니메이션 등장용) */
}