.mainbox {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    border: none;

    width: 480px;
    height: 480px;
    text-align: center;
    align-content: center;
    margin-bottom: 2rem;
}

/* 원이 화면에 나타날 때의 스타일 */
.mainbox.visible {
    opacity: 1;
    transform: translateY(0);
}
.mainboxbutton{
    border:black solid 2px;
    background-color:white;
    width:10rem;
    height:3rem;


}
.mainboxbutton:hover{
    cursor:pointer;
    border: none;
    background-color:#000000;
 }

.mainboxbutton:hover a{
    color:white
}
.mainboxbutton a{
    text-decoration-line: none;
    color:black;
    font-size: 1.3rem;
}

