.registerinput{
    border-radius: 5px;
    border: none;
    width:25%;
    margin-bottom: 2%;
    height:3%;
}

.registerbtn{
    border: none;
    border-radius: 5px;
    width: 10vh;
    height: 1.7rem;

}

.registerbtn:hover{
    background-color:#cccccc;
    cursor: pointer;
}
ul{
    padding: 0;
    margin:0;
}
li{
    list-style: none;


}
li input{

    margin-left: 3rem;
}

