/*사이드바*/
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,80%);
    padding-top: 20px;
    overflow: hidden;
    transition: width 0.3s ease;
    z-index: 999;
}

.sidebar.open {
    width: 250px;

}

.sidebar.closed {
    width: 0;
    padding: 0;
    z-index: 1000;
}
.sidebar h2{
    text-align: center;
}
.sidebar h2 a{
    text-decoration: none;
    color: white;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar ul li:hover {
    background-color: #575757;
}

.sidebar-toggle {
    position: fixed;
    top: 50%;
    left: 10px;
    background-color: transparent;

    color: #868E96;
    border: none;
    padding: 10px;

    cursor: pointer;
    z-index: 1000; /* 사이드바보다 위에 표시되도록 설정 */
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.sidebar-toggle:hover {
    background-color: transparent;
}

.sidebar-toggle.open {
    font-size: 50px;

}

.sidebar-toggle.closed {
    font-size: 50px;
}

.sidebar-list{
    display: block;
    height: 25px;
    align-content: center;
    color: white;
    text-decoration: none;

}